<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />

<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/fancybox/source/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link th:href="@{/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
<link th:href="@{/assets/global/css/plugins-md.min.css}" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link th:href="@{/assets/pages/css/search.min.css}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link th:href="@{/assets/layouts/layout3/css/layout.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/layouts/layout3/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color" />
<link th:href="@{/assets/layouts/layout3/css/custom.min.css}" rel="stylesheet" type="text/css" />

<!--<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css" />-->

<link rel="shortcut icon" href="favicon.ico" />



